# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset:

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [1]:
import pandas as pd
df = pd.read_csv('universal_studio_branches.csv')
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [2]:
df.head()

,reviewer,rating,written_date,title,review_text,branch
0,Kelly B,2.0,"May 30, 2021",Universal is a complete Disaster - stick with ...,We went to Universal over Memorial Day weekend...,Universal Studios Florida
1,Jon,1.0,"May 30, 2021",Food is hard to get.,The food service is horrible. I’m not reviewin...,Universal Studios Florida
2,Nerdy P,2.0,"May 30, 2021",Disappointed,I booked this vacation mainly to ride Hagrid m...,Universal Studios Florida
3,ran101278,4.0,"May 29, 2021",My opinion,When a person tries the test seat for the ride...,Universal Studios Florida
4,tammies20132015,5.0,"May 28, 2021",The Bourne Stuntacular...MUST SEE,"Ok, I can't stress enough to anyone and everyo...",Universal Studios Florida

In [3]:
df.dtypes

reviewer         object
rating          float64
written_date     object
title            object
review_text      object
branch           object
dtype: object

In [4]:
df['written_date'] = pd.to_datetime(df['written_date'])
df.dtypes

reviewer                object
rating                 float64
written_date    datetime64[ns]
title                   object
review_text             object
branch                  object
dtype: object

In [10]:
df.head()

,reviewer,rating,written_date,title,review_text,branch
0,Kelly B,2.0,2021-05-30,Universal is a complete Disaster - stick with ...,We went to Universal over Memorial Day weekend...,Universal Studios Florida
1,Jon,1.0,2021-05-30,Food is hard to get.,The food service is horrible. I’m not reviewin...,Universal Studios Florida
2,Nerdy P,2.0,2021-05-30,Disappointed,I booked this vacation mainly to ride Hagrid m...,Universal Studios Florida
3,ran101278,4.0,2021-05-29,My opinion,When a person tries the test seat for the ride...,Universal Studios Florida
4,tammies20132015,5.0,2021-05-28,The Bourne Stuntacular...MUST SEE,"Ok, I can't stress enough to anyone and everyo...",Universal Studios Florida

In [5]:
df.groupby('branch').size()

#for my project I will be looking at Universal Studios Florida Only#

branch
Universal Studios Florida      30621
Universal Studios Japan         4529
Universal Studios Singapore    15754
dtype: int64

In [6]:
df.groupby('branch')['rating'].size()

branch
Universal Studios Florida      30621
Universal Studios Japan         4529
Universal Studios Singapore    15754
Name: rating, dtype: int64

In [7]:
 pd.Series(' '.join(df['review_text']).lower().split()).value_counts()[:100]

the       344422
and       177935
to        172001
a         130833
of        100836
           ...
us          8528
then        8496
many        8492
people      8323
best        8190
Length: 100, dtype: int64

In [15]:
df[df['title'].str.contains("covid")]

,reviewer,rating,written_date,title,review_text,branch
173,Al M,3.0,2021-03-01,Long lines during covid,Wait for Transformers was 90 min due to covid ...,Universal Studios Florida
245,jkfors,3.0,2021-01-03,Don't go on PASSHOLDER days to dangerous w cov...,Not consistent with covid safety on days with ...,Universal Studios Florida
301,Pukeonthestreet,2.0,2020-11-27,Avoid during covid.,They're trying but not enough. So many times i...,Universal Studios Florida
355,Amy S,1.0,2020-10-10,DO NOT GO! They oversell tickets and close the...,They turn you in circles from trying to park t...,Universal Studios Florida
363,Michy Bosch,3.0,2020-10-05,great for covid precautions but horrible virtu...,the park is taking great measures with covid b...,Universal Studios Florida
448,Mbikz,5.0,2020-07-11,Excellent covid procedure!!,Universal did a great job with keeping the par...,Universal Studios Florida
483,Stame,5.0,2020-06-11,Universal during covid,Had a wonderful time at universal!! I felt saf...,Universal Studios Florida

In [17]:
df[df['review_text'].str.contains("covid")].count()

reviewer        39
rating          39
written_date    39
title           39
review_text     39
branch          39
dtype: int64

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

In [8]:
df.groupby('branch')["rating"].value_counts().dropna().unstack()

rating                        1.0   2.0   3.0   4.0    5.0
branch
Universal Studios Florida    1374  1369  2960  6940  17978
Universal Studios Japan       194   171   557  1531   2076
Universal Studios Singapore   405   446  1712  5043   8148

In [ ]:
#Will have more visualizations after data is cleaned#

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? - I did not expect so many reviews for 1 star for Universal Florida.
2. Do you have any concerns about your dataset? - My concerns are just finding the right words I am looking for in the review text.
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data? - I need to remove anything not relevant to Universal Florida.